body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.vitrine,
.vitrine ul,
.vitrine li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.vitrine{
    width: 50%;
    background: #f1f1f1;
}

.vitrine ul{
    flex-wrap: wrap;
    width: 100%;
}

.vitrine li{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.carrinho{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    background: #ccc;
    padding: 15px;
}

.carrinho ul,
.carrinho li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.carrinho ul{
    flex-wrap: wrap;
}

.carrinho li{
    padding: 15px 0;
    justify-content: space-between;
}

.carrinho input{
    width: 50px;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    font-size: 2.5em;
    width: 100%;
}