#header{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 45px;
    width: 100%;
    background: #f00;
}

#controll{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background: #ff6600;
}

#content{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background: #ccc;
}